$--color-primary: #008ed6;
$--color-success: #67D5B5;
$--color-danger: #EE7785;
$--color-warning: #C89EC4;
$--color-info: #84B1ED;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";